@import "tailwindcss";
@import "uniwind";

@theme initial {
  --color-grey-25: #fcfcfd;
  --color-grey-50: #f9fafb;
  --color-grey-55: #f6f7f8;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #eaecf0;
  --color-grey-250: #e4e4e5;
  --color-grey-300: #d0d5dd;
  --color-grey-350: #ccd2db;
  --color-grey-400: #a8acb3;
  --color-grey-500: #747881;
  --color-grey-550: #636770;
  --color-grey-600: #555b64;
  --color-grey-650: #4a5059;
  --color-grey-700: #42464e;
  --color-grey-750: #31363e;
  --color-grey-800: #2a2d31;
  --color-grey-850: #25292d;
  --color-grey-900: #1b1d20;
  --color-rise-teal-50: #edffff;
  --color-rise-teal-100: #c5f5f9;
  --color-rise-teal-200: #9fdce1;
  --color-rise-teal-300: #69c8d3;
  --color-rise-teal-400: #41bcc4;
  --color-rise-teal-500: #0898a0;
  --color-rise-teal-600: #006d79;
  --color-rise-teal-700: #005864;
  --color-rise-teal-800: #003f4f;
  --color-rise-teal-900: #002a3a;
  --color-rise-teal-950: #001f2f;
  --color-purple-50: #f5f1fe;
  --color-purple-100: #e4d5f8;
  --color-purple-200: #d2b9f2;
  --color-purple-300: #c0adef;
  --color-purple-400: #ae91e9;
  --color-purple-500: #a479ff;
  --color-purple-600: #5b5ae7;
  --color-purple-700: #4a4fc6;
  --color-purple-800: #3a45a3;
  --color-purple-900: #2b2677;
  --color-purple-950: #201c5c;
  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-200: #a6f4c5;
  --color-success-300: #6ce9a6;
  --color-success-400: #32d583;
  --color-success-500: #12b76a;
  --color-success-600: #039855;
  --color-success-700: #027a48;
  --color-success-800: #05603a;
  --color-success-900: #054f31;
  --color-orange-50: #fef3ef;
  --color-orange-100: #fee6da;
  --color-orange-200: #fdb99b;
  --color-orange-300: #ffa47d;
  --color-orange-400: #ff8e50;
  --color-orange-500: #fe7122;
  --color-orange-600: #f7661e;
  --color-orange-700: #d15c00;
  --color-orange-800: #b54e00;
  --color-orange-900: #c93b12;
  --color-indigo-50: #f6e4f0;
  --color-indigo-100: #f7c9e3;
  --color-indigo-200: #f09bd0;
  --color-indigo-300: #e35bad;
  --color-indigo-400: #de00a0;
  --color-indigo-500: #b80074;
  --color-indigo-600: #a80067;
  --color-indigo-700: #98005b;
  --color-indigo-800: #870050;
  --color-indigo-900: #760045;
  --color-indigo-950: #66003a;
  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee3e1;
  --color-error-200: #fecdca;
  --color-error-250: #ffc3c1;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
  --color-error-950: #6a3a37;
  --color-error-1000: #5b2927;
  --color-error-1050: #512322;
  --color-error-1100: #411a17;
  --color-error: #f04438;
  --color-warning-25: #fffcf5;
  --color-warning-50: #fffaeb;
  --color-warning-100: #faebbf;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-alpha-nav-white-10: #ffffff1a;
  --color-alpha-warning-10: #f790091a;
  --color-alpha-warning-20: #f7900933;
  --color-alpha-warning-30: #f790094d;
  --color-alpha-warning-40: #f7900966;
  --color-alpha-warning-50: #f7900980;
  --color-alpha-warning-10-solid: #31281e;
  --color-alpha-warning-20-solid: #47341b;
  --color-alpha-warning-30-solid: #5d3f19;
  --color-alpha-warning-40-solid: #734b17;
  --color-alpha-warning-50-solid: #895615;
  --color-alpha-indigo-10: #b800741a;
  --color-alpha-indigo-20: #b8007433;
  --color-alpha-indigo-30: #b800744d;
  --color-alpha-indigo-40: #b8007466;
  --color-alpha-indigo-50: #b8007480;
  --color-alpha-indigo-10-solid: #2b1a28;
  --color-alpha-indigo-20-solid: #3a1731;
  --color-alpha-indigo-30-solid: #4a1439;
  --color-alpha-indigo-40-solid: #5a1142;
  --color-alpha-indigo-50-solid: #690e4a;
  --color-alpha-error-10: #f044381a;
  --color-alpha-error-20: #f0443833;
  --color-alpha-error-30: #f044384d;
  --color-alpha-error-40: #f0443866;
  --color-alpha-error-50: #f0443880;
  --color-alpha-error-10-solid: #302122;
  --color-alpha-error-20-solid: #462525;
  --color-alpha-error-30-solid: #5b2927;
  --color-alpha-error-40-solid: #702d2a;
  --color-alpha-error-50-solid: #85312c;
  --color-alpha-purple-10: #796cf71a;
  --color-alpha-purple-20: #796cf733;
  --color-alpha-purple-30: #796cf74d;
  --color-alpha-purple-40: #796cf766;
  --color-alpha-purple-50: #796cf780;
  --color-alpha-purple-10-solid: #242535;
  --color-alpha-purple-20-solid: #2e2d4b;
  --color-alpha-purple-30-solid: #373560;
  --color-alpha-purple-40-solid: #413d76;
  --color-alpha-purple-50-solid: #4a448b;
  --color-alpha-nav-white-20: #ffffff33;
  --color-alpha-teal-10: #0898a01a;
  --color-alpha-teal-20: #0898a033;
  --color-alpha-teal-30: #0898a04d;
  --color-alpha-teal-40: #0898a066;
  --color-alpha-teal-50: #0898a080;
  --color-alpha-teal-10-solid: #19292d;
  --color-alpha-teal-20-solid: #17363a;
  --color-alpha-teal-30-solid: #154246;
  --color-alpha-teal-40-solid: #134e53;
  --color-alpha-teal-50-solid: #115a60;
  --color-alpha-nav-grey-5: #181b200d;
  --color-alpha-nav-grey-10: #181b201a;
  --color-alpha-nav-grey-20: #181b2033;
  --color-alpha-success-10: #12b76a1a;
  --color-alpha-success-30: #12b76a4d;
  --color-alpha-success-20: #12b76a33;
  --color-alpha-success-40: #12b76a66;
  --color-alpha-success-50: #12b76a80;
  --color-alpha-success-10-solid: #1a2c27;
  --color-alpha-success-20-solid: #193c2f;
  --color-alpha-success-30-solid: #184b36;
  --color-alpha-success-40-solid: #175b3e;
  --color-alpha-success-50-solid: #176a45;
  --color-alpha-grey-10: #6670851a;
  --color-alpha-grey-20: #66708533;
  --color-alpha-grey-30: #6670854d;
  --color-alpha-grey-40: #66708566;
  --color-alpha-grey-50: #66708580;
  --color-alpha-grey-60: #3a414e66;
  --color-alpha-grey-70: #3a414e99;
  --color-alpha-grey-80: #3a414eb3;
  --color-alpha-grey-90: #3a414eb3;
  --color-alpha-white-10: #ffffff1a;
  --color-alpha-white-20: #ffffff33;
  --color-alpha-white-30: #ffffff4d;
  --color-alpha-white-40: #ffffff66;
  --color-alpha-white-50: #ffffff80;
  --color-alpha-white-60: #ffffff99;
  --color-alpha-white-70: #ffffffb3;
  --color-alpha-white-80: #ffffffcc;
  --color-alpha-white-90: #ffffffe6;
  --color-alpha-white-on-white-bg: #f3f4f699;
  --color-gradient-teal-light-mode-1: #d5faff4d;
  --color-gradient-teal-light-mode-2: #9fdce1b3;
  --color-gradient-teal-dark-mode-1: #006d79;
  --color-gradient-teal-dark-mode-2: #002a3a1a;
  --color-surface-overlay-brand: #9fdce1a6;
  --color-pink-accent-fill: #f6e4f0;
  --color-pink-accent-primary: #de00a0;
  --color-progressive-blur-fill: #ffffff01;
  --color-brand-50: #edffff;
  --color-brand-100: #c5f5f9;
  --color-brand-200: #9fdce1;
  --color-brand-300: #69c8d3;
  --color-brand-400: #41bcc4;
  --color-brand-500: #0898a0;
  --color-brand-600: #006d79;
  --color-brand-700: #005864;
  --color-brand-800: #003f4f;
  --color-brand-900: #002a3a;
  --color-brand-950: #001f2f;
  --color-brand: #0898a0;
}

@theme inline {
  --color-test: light-dark(red, blue);
}

.mm {
  background-color: light-dark(blue, red);
}
